# Database
POSTGRES_USER=hellofresh
POSTGRES_PASSWORD=hellofresh
POSTGRES_DB=hellofresh
DATABASE_URL=postgresql://hellofresh:hellofresh@db:5432/hellofresh?schema=public

# App
PORT=3001
ALLOWED_ORIGIN=http://localhost:5173
